/* Woot Add Meh */
#woot .bottom, #woot.selected {
background: #2485b9
 !important;
}
.votes-rs .title.woot {
background: #25b961 !important;
}
#grab .bottom, #grab.selected {
background: #25b961;
}
.votes-rs .title.grab {
        background: #aa74ff !important;
}
#meh {
    display: none;
}
.votes-rs .title.meh {
        background: #c42e3b !important;
}
#woot.selected .icon, #grab.selected .icon, #meh.selected .icon {
        animation: pulse 1s ease infinite;
}
#vote .crowd-response .top .icon-woot, #user-lists .list.room .user .icon-woot {
        background: url('https://rawgit.com/dawidstf89/unt/master/woot.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
/* Woot Add Meh */